body{
    margin: 0;
}

.DarkMode * {
    border-color: white !important;
}
/*this is the navbar*/
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 3px solid rgb(0, 0, 0);
    height: 50px;
}

.header {
    margin: 0;
}

/*alignment for the actions*/
.actions {
    display: flex;
    align-items: center;
}

/*this is the button*/
#BackButton{
    font-size: 18px;
    margin: 5px;
}

#BackButton:hover{
    background-color: rgb(69, 69, 69);
}

/* this is the day-night mode image*/
#DarkToggle{
    height: 30px;
    margin-left: 10px;
    cursor: pointer;
}



/*this is the main content block*/
#content{
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    margin-bottom: 2px;
    margin-top: 2px;
    padding: 3px;
    min-height: 600px;
    flex-grow: 1;
}

.BlogPost{
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 10px;
    margin: 5px;
    padding: 8px;
}

.BlogTitle{
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: 1px solid black;
}

.BlogText{
    margin-left: 10px;
}

.BlogFooter{
    margin-bottom: 0px;
    color: rgba(69, 69, 69, 0.806);
}


/*this is the footer*/
#footer {
    border-top: 3px solid black;
    margin-top: 2px;
}

#footer h5 {
    display: flex;
    justify-content: center;
    margin: 2px;
}

.FooterText{
    font-size: 12px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 10px;
}

#footerLink{
    text-decoration: none;
    color: inherit;
}