body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.DarkMode * {
    border-color: white !important;
}

/*this is the navbar*/
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    border-bottom: 3px solid black;
    height: 50px;
}


/*this is the day-night mode image*/
#ToggleDark{
    height: 30px;
    margin-left: 10px;
    cursor: pointer;
}


/*this is the container for the form and the image*/
#BottomBlock{
    border-top: 3px solid black;
    margin-top: 2px;
    height: 200px;
    display: flex;
    flex-grow: 1;
}

/*this is the left block with the img*/
#LeftBlock {
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    flex-grow: 1;
    margin-right: 2px;
    width: 50%;
    position: relative;
}

/* Container for left content */
.left-content {
    position: relative;
}

/* Header for left content */
#LeftHeader {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translateX(-50%);
    margin: 0;
    color: rgb(128, 0, 255);
    font-size: 50px;
}

/* Image for left content */
#LeftImg {
    width: 100%;
    display: block;
}


/*this is the right block with the form*/
#formContainer{
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    flex-grow: 1;
    margin-left: 2px;
    padding: 20px;
    width: 50%;
    overflow: auto;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}



#RightHead{
    text-align: center;
    font-size: 40px;
}
/*this is where the form begins*/
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}




/* Style for Title and username input */

label {
    display: block; 
    font-size: 20px;
}

input{
    border: 2px solid black;
    min-width: 100%;
}

textarea{
    border: 2px solid black;
    min-width: 100%;
    max-height: 100%;
    height: 250px;
}

#Submit{
    min-width: 100%;
    background-color: black;
    color: white;
}

#Submit:hover{
    background-color: rgb(92, 92, 92);
}
